[package]
name = "binsec"
description = "static binary detection tool for Linux security features"
license = "MIT"
version = "0.1.0"
authors = ["ex0dus-0x <ex0dus@codemuch.tech>"]
edition = "2018"

[dependencies]

clap = "2.33.0"
term-table = "1.2.1"
colored = "1.8"

goblin = "0.2.0"

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.5"
